body{
	background: #2D3131;
}
.main{
	position: absolute;
	left: 80px;
	top: 70px;
	width: 1380px;
	height: 580px;
	background: #191919;
	box-shadow: 4px 4px 8px black;
}
.move{
	position: absolute;
	left: 85px;
	top: 75px;
	width: 100px;
	height: 100px;
	background: #FF1A1A;
	box-shadow: 0 0 5px rgba(255, 77, 77,1),
		0 0 10px rgba(255, 77, 77, 1),
		0 0 20px rgba(255, 30, 30, 1),
		0 0 30px rgba(255, 30, 30, 1);
}
.hiper{
	position: absolute;
	border-radius: 50px;
	width: 20%;
	height: 6%;
	top: 92%;
	left: 40%;
	background: none;
	font-family: sans-serif;
	font-size: 120%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	outline: none;
	color: white;
	border: 0;
	border: solid 2px #FF1A1A;
	transition: all 0.3s;
	cursor: pointer;
}
.hiper:hover{
	background: #FF1A1A;
}